{% extends 'admin/change_list.html' %}
{% block object-tools %}
<form action="distribute/" method="POST">
    {% csrf_token %}
    <input type="submit" value="Распределить учеников по группам" />
</form>
<form action="cancel_distribution/" method="POST">
    {% csrf_token %}
    <input type="submit" value="Отменить распределение" />
</form>
<form action="notify_teams/" method="POST">
    {% csrf_token %}
    <input type="submit" value="Оповестить сформированные команды" />
</form>
<form action="notify_free_students/" method="POST">
    {% csrf_token %}
    <input type="submit" value="Оповестить нераспределенных учеников" />
</form>
{{ block.super }}
{% endblock %}